body {
  background-color: 454545;
}
h1 {
  text-align: center;
}

#img1 {
  width: 250px;
  height: 250px;
  float: left;
  margin: 50px;
}
#intro {
  font-size: 45px;
  font-family: URW Chancery L, cursive;
  color: whitesmoke;
}

#a {
  width: 100%;
  box-sizing: border-box;
  font-weight: bold;
  color: whitesmoke;
}
.bar {
  width: 100%;
}

.skills {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  color: whitesmoke;
  height: 10px;
  border-radius: 10px;
}

.fd {
  width: 90%;
  background-color: #2196f3;
}
.bd {
  width: 80%;
  background-color: #2196f3;
}
.dm {
  width: 65%;
  background-color: #2196f3;
}
.as {
  width: 60%;
  background-color: #2196f3;
}
.db {
  width: 50%;
  background-color: #2196f3;
}

li {
  padding-top: 10px;
  padding-bottom: 10px;
}

nav {
  text-align: center;
}
nav li {
  list-style: none;
  display: inline-block;
  font-size: 25px;
  padding: 25px;
}
nav li a {
  color: whitesmoke;
  text-transform: uppercase;
  border-radius: 3px;
  text-decoration: none;
}
a.active,
a:hover {
  background: silver;
  transition: 0.5s;
}

#img3,
#img4,
#img2,
#img6,
#img7,
#img8 {
  width: 480px;
  height: 280px;
  margin: 10px;
}

.list-item {
  display: flex;
  justify-content: center;
}

ul {
  width: 100%;
}

#resume {
  font-size: larger;
  color: whitesmoke;
  text-transform: uppercase;
  text-decoration: none;

  margin-left: 50px;
  line-height: 80px;
}
#email {
  color: whitesmoke;
}

.copyrights {
  text-align: center;
}
